<p style="text-align:center"> <h1>Python Basics</h1></p>


## Writing Your First Python Code


Estimated time needed: **40** minutes
    

## Objectives

After completing this exercise you will be able to:

* Write basic code in Python
* Work with various types of data in Python
* Manipulate different types of data in Python
* Use expressions and variables to perform operations

<style>
.container {
  background-color: lightpink !important;
}

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 10px">
    <ul>
        <li>
            <a href="#hello">Introduction: Saying "Hello" to the World in Python</a>
            <ul>
                <li><a href="version">Determining the Python Version</a></li>
                <li><a href="comments">Writing Comments in Python</a></li>
                <li><a href="errors">Understanding Errors in Python</a></li>
                <li><a href="python_error">Predicting Errors in Python</a></li>
                <li><a href="exercise">Exercise: Your First Python Program</a></li>
            </ul>
        </li>
        <li>
            <a href="#types_objects">Types of Objects in Python</a>
            <ul>
                <li><a href="int">Integers</a></li>
                <li><a href="float">Floats</a></li>
                <li><a href="convert">Converting Between Object Types</a></li>
                <li><a href="bool">Boolean Data Type</a></li>
                <li><a href="exer_type">Exercise: Working with Types</a></li>
            </ul>
        </li>
        <li>
            <a href="#expressions">Expressions and Variables</a>
            <ul>
                <li><a href="exp">Understanding Expressions and Variables</a></li>
                <li><a href="exer_exp">Exercise: Practicing with Expressions and Variables</a></li>
                         </ul>
        </li>
    </ul>
    <p>
        Estimated time required: <strong>40 minutes</strong>
    </p>
</div>
<hr>
</style>

<style>
body {
  background-color: lightpink;
}
</style>

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 10px">
    <ul>
        <li>
            <a href="#hello">Introduction: Saying "Hello" to the World in Python</a>
            <ul>
                <li><a href="version">Determining the Python Version</a></li>
                <li><a href="comments">Writing Comments in Python</a></li>
                <li><a href="errors">Understanding Errors in Python</a></li>
                <li><a href="python_error">Predicting Errors in Python</a></li>
                <li><a href="exercise">Exercise: Your First Python Program</a></li>
            </ul>
        </li>
        <li>
            <a href="#types_objects">Types of Objects in Python</a>
            <ul>
                <li><a href="int">Integers</a></li>
                <li><a href="float">Floats</a></li>
                <li><a href="convert">Converting Between Object Types</a></li>
                <li><a href="bool">Boolean Data Type</a></li>
                <li><a href="exer_type">Exercise: Working with Types</a></li>
            </ul>
        </li>
        <li>
            <a href="#expressions">Expressions and Variables</a>
            <ul>
                <li><a href="exp">Understanding Expressions and Variables</a></li>
                <li><a href="exer_exp">Exercise: Practicing with Expressions and Variables</a></li>
                         </ul>
        </li>
    </ul>
    <p>
        Estimated time required: <strong>40 minutes</strong>
    </p>
</div>
<hr>

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip]: To execute the Python code in the code cell below, click on the cell to select it and press <kbd>Shift</kbd> + <kbd>Enter</kbd>.
</div>
<hr/>

In [136]:
#Your First Python Output
print('Hello, Python!')

Hello, Python!

After running the code cell above, you will see the output: <code>Hello, Python!</code>. Congratulations on running your first Python code!

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] <code>print()</code> is a built-in function in Python used to display output. In this case, we passed the string <code>'Hello, Python!'</code> as an argument to the <code>print()</code> function to instruct Python on what to display.
</div>
<hr/>

# Determining the Python Version
There are two popular versions of the Python programming language in use today: Python 2 and Python 3. The Python community has decided to move on from Python 2 to Python 3, and many popular libraries have announced that they will no longer support Python 2.

Since Python 3 is the future, in this course we will be using it exclusively. How do we know that our notebook is executed by a Python 3 runtime? We can look in the top-right hand corner of this notebook and see "Python 3".

We can also ask Python directly and obtain a detailed answer. Try executing the following code:

In [137]:
# Check the Python Version

import sys
print(sys.version)

3.10.9 | packaged by Anaconda, Inc. | (main, Mar  1 2023, 18:18:15) [MSC v.1916 64 bit (AMD64)]

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: To execute the Python code in the code cell below, click on the cell to select it and press <kbd>Shift</kbd> + <kbd>Enter</kbd>.
</div>
<hr/>

## Writing comments in Python
In addition to writing code, note that it's always a good idea to add comments to your code. It will help others understand what you were trying to accomplish (the reason why you wrote a given snippet of code). Not only does this help other people understand your code, it can also serve as a reminder to you when you come back to it weeks or months later.

To write comments in Python, use the number symbol # before writing your comment. When you run your code, Python will ignore everything past the # on a given line

In [138]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi') #Python will igonre this code and store it as a comment

Hello, Python!

## Understanding Errors in Python
Everyone makes mistakes. For many types of mistakes, Python will tell you that you have made a mistake by giving you an error message. It is important to read error messages carefully to really understand where you made a mistake and how you may go about correcting it.

For example, if you spell print as frint, Python will display an error message. Give it a try:

In [139]:
# Print string as error message

frint("Hello, Python!")

NameError: name 'frint' is not defined

The error message tells you:

where the error occurred (more useful in large notebook cells or scripts), and
what kind of error it was (NameError)
Here, Python attempted to run the function frint, but could not determine what frint is since it's not a built-in function and it has not been previously defined by us either.

You'll notice that if we make a different type of mistake, by forgetting to close the string, we'll obtain a different error (i.e., a SyntaxError). Try it below:

In [140]:
# Try to see built-in error message

print("Hello, Python!)

SyntaxError: unterminated string literal (detected at line 3) (3628399183.py, line 3)

## Does Python know about your error before it runs your code?

Python is what is called an interpreted language. Compiled languages examine your entire program at compile time, and are able to warn you about a whole class of errors prior to execution. In contrast, Python interprets your script line by line as it executes it. Python will stop executing the entire program when it encounters an error (unless the error is expected and handled by the programmer, a more advanced subject that we'll cover later on in this course).

Try to run the code in the cell below and see what happens:

In [141]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

<h3 id="exercise">Exercise: Your First Python Program</h3>

<p>Generations of programmers have started their coding careers by simply printing "Hello, world!". You will be following in their footsteps.</p>
<p>In the code cell below, use the <code>print()</code> function to print out the phrase: <code>Hello, world!</code></p>

# Write your code below. Don't forget to press Shift+Enter to execute the cell

<details><summary>Click here for the solution</summary>

```python
print("Hello, world!")

```

</details>

In [142]:
print("Hello, World!")

Hello, World!

<p>Now, let's enhance your code with a comment. In the code cell below, print out the phrase: <code>Hello, world!</code> and comment it with the phrase <code>Print the traditional hello world</code> all in one line of code.</p>

In [143]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<details><summary>Click here for the solution</summary>

```python
print("Hello, world!") # Print the traditional hello world

```

</details>

<h2 id="types_objects" align="center">Types of objects in Python</h2>

<p>Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: <i>strings</i>, <i>integers</i> and <i>floats</i>. Anytime you write words (text) in Python, you're using <i>character strings</i> (strings for short). The most common numbers, on the other hand, are <i>integers</i> (e.g. -1, 0, 100) and <i>floats</i>, which represent real numbers (e.g. 3.14, -42.0).</p>

<a align="center">
    <img src="Python-Basics-Chapter-Numbers-in-Python_Watermarked.70cee8925cbf.webp" width="600">
</a>

**The right of the image above belongs to Real Python https://realpython.com/python-numbers/

<p>The following code cells contain some examples.</p>

In [ ]:
# Integer

11

In [ ]:
# Float

2.14

In [ ]:
# String

"Hello, Python 101!"

<p>You can get Python to tell you the type of an expression by using the built-in <code>type()</code> function. You'll notice that Python refers to integers as <code>int</code>, floats as <code>float</code>, and character strings as <code>str</code>.</p>

In [ ]:
# Type of 12

type(12)

In [ ]:
# Type of 2.14

type(2.14)

In [ ]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

<p>In the code cell below, use the <code>type()</code> function to check the object type of <code>12.0</code>.

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<details><summary>Click here for the solution</summary>

```python
type(12.0)

```

</details>

<details><summary>Trying it</summary>

```python
type(25.3F)
```
</details>

<h3 id="int">Integers</h3>

<p>Here are some examples of integers. Integers can be negative or positive numbers:</p>

<p>We can verify this is the case by using, you guessed it, the <code>type()</code> function:

In [144]:
# Print the type of -1

type(-1)

int

In [145]:
# Print the type of 4

type(4)

int

In [146]:
# Print the type of 0

type(0)

int

<h3 id="float">Floats</h3>

<p>Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals". There are some limitations when it comes to machines representing real numbers, but floating point numbers are a good representation in most cases. You can learn more about the specifics of floats for your runtime environment, by checking the value of <code>sys.float_info</code>. This will also tell you what's the largest and smallest number that can be represented with them.</p>

<p>Once again, can test some examples with the <code>type()</code> function:

In [ ]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

In [ ]:
# System settings about float type

sys.float_info

<h3 id="convert">Converting Between Object Types type</h3>

<p>You can change the type of the object in Python; this is called typecasting. For example, you can convert an <i>integer</i> into a <i>float</i> (e.g. 2 to 2.0).</p>
<p>Let's try it:</p>

In [ ]:
# Verify that this is an integer

type(2)

<h4>Converting integers to floats</h4>
<p>Let's cast integer 2 to float:</p>

In [ ]:
# Convert 4 to a float

float(4)

In [ ]:
# Convert integer 4 to a float and check its type

type(float(4))

<p>When we transform an integer into a float, the actual value or significand of the number remains unchanged. However, when we convert a float into an integer, there is a possibility of losing certain information. For instance, if we cast the float 4.1 as an integer, we will obtain the value 4, thereby losing the decimal portion (0.1) in the process.</p>

In [ ]:
# Casting 4.1 to integer will result in loss of information

int(4.1)

<h4>Converting Strings to Integers or Floats</h4>

<p>On certain occasions, we may encounter a situation where a string contains a numerical value. In such cases, we can utilize the <code>int()</code> function to convert the string representation of the number into an integer:</p>

<p>To convert a string into an integer, you can use the int() function. For example, if you have the string '1', you can convert it to an integer as follows: </p>

In [ ]:
int('1')

<p>Another way to do it, would be: </p>

In [ ]:
string_number = '1'
integer_number = int(string_number)
print(string_number)

<p>After executing this code, the variable integer_number will contain the value 1, which is the integer representation of the string '1'.</p>

<p>However, if you attempt to convert a string that does not perfectly match a numerical value, an error will occur. Please try the following example:</p>

In [ ]:
# Convert a string into an integer with error

int('1 or 2 people')

<p> Executing this code will raise a <b>ValueError</b> because the string <b>'1 or 2 </b>people' cannot be directly converted into an integer. To perform a successful conversion, the string must represent a valid numerical value without any additional characters or words.</p>

<p>Another option is to convert strings that contain floating-point numbers into <i>float</i> objects:</p>

<p>To convert the string "1.2" into a float, you can use the float() function. Here's an example:</p>

In [ ]:
float('1.2')

<p>After executing this code, the variable float will contain the value 1.2, which is the float representation of the string "1.2". </p>


<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] Please note that strings can be represented using either single quotes (<code>'1.2'</code>) or double quotes (<code>"1.2"</code>), but you cannot mix both styles (e.g., <code>"1.2'</code>).
</div>
<hr/>

<h4>Converting Numbers to Strings</h4>


<p>Indeed, if we can convert strings to numbers, it is logical to assume that we can also convert numbers to strings.</p>

<p>To convert an integer to a string, you can use the str() function. Here's an example:</P>

In [ ]:
#Converting an Integer to a String
str(4)

<p> After executing this code, the variable str will contain the value '4', which is the string representation of the integer 4.</p>

<P> We can also convert float into strings as well: </p>

#Convert a float to a string

str(6.2)

<h3 id="bool">Boolean data type</h3>

<p>The boolean data type is indeed important in Python. A boolean object can have one of two values: <code>True</code> or <code>False</code>:</p>

<details><summary>Click here for the solution</summary>

#Value true
True
#Value False
False
    
</details>


<p>It is important to pay attention to the case sensitivity of boolean values. The value <code>True</code> must be written with an uppercase "T", and similarly, <code>False</code> must be written with an uppercase "F". Boolean values in Python are case sensitive.</p>

<p> Let's explore the casting of boolean values to other data types. Here's an example:</p>

In [ ]:
# Casting True to integer and float
bool_true = True
int_true = int(bool_true) # Casting True to integer.
#The variable int_true will hold the integer value 1 after casting the boolean value True to an integer. 
float_true = float(bool_true) # Casting True to float
#Similarly, the variable float_true will hold the float value 1.0 after casting the boolean value True to a float.
#or just:
float(True) # Convert True to float

# Casting False to integer and float
bool_false = False
int_false = int(bool_false)
float_false = float(bool_false)

# Casting 1 to boolean
num_one = 1
bool_one = bool(num_one)

# Casting 0 to boolean
num_zero = 0
bool_zero = bool(num_zero)

# Convert True to float
float(True)

print(int_true)       # Output: 1
print(float_true)     # Output: 1.0
print(int_false)      # Output: 0
print(float_false)    # Output: 0.0
print(bool_one)       # Output: True
print(bool_zero)      # Output: False

<h3 id="exer_type">Exercise: Types</h3>

<p>What is the data type of the result of: <code>9 / 3</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<details><summary>Click here for the solution</summary>

```python
type(9/3) # float

```

</details>

In [ ]:
type(9/3)

<h2 id="expressions">Expression and Variables</h2>

<h3 id="exp">Understanding Expressions and Variables</h3>

<p>In Python, expressions can involve operations among compatible types, such as integers and floats. For example, you can perform basic arithmetic operations, like adding multiple numbers together:</p>

<p>To perform the addition operation using the expression 28 + 12 + 26 + 90, you simply add the numbers together: </p>

In [ ]:
add =  28 + 12 + 90 #variable 'add' stores the expressions 28 + 12 + 90 
print(add) #prints its value

<p>We can perform subtraction operations using the minus operator. In this case the result is a negative number:</p>

In [ ]:
# Subtraction operation expression
sub = 10 - 800 #variable 'sub' stores the expressions 10 - 800
print(sub) #prints its value

<p>We can perform division with the forward slash:</p>

In [ ]:
div = 10/2 #variable 'div' stores the expressions 10/2
print(div)#prints its value

<p>When using the double forward slash (//) operator for integer division, the result is rounded down to the nearest integer.</p>

In [ ]:
# Integer division operation expression
div2 = 13 // 3 #variable 'div2' stores the expressions 13//3
print(div2)#prints its value

<p>We can perform multiplication using the asterisk (`*`) operator:</p>

In [ ]:
mult = 33*3 #variable 'mult' stores the expressions 33*3
print(mult)#prints its value

<h3 id="exer_exp">Exercise: Practicing with Expressions and Variables</h3>

<p>Let's consider an example where we calculate the total cost of purchasing 4 items, each priced at $12.50: </p>

In [ ]:
item_price = 12.50 #variable 'item_price' stores the value 12.50
quantity = 4 #variable 'quantity' gets/store 4
total_cost = item_price * quantity
print(total_cost)#prints its value

<p>When you run this code, the output will be 50.0, indicating that the total cost of purchasing 4 items priced at 12.50 each is 50.0.
</p>

In [ ]:
x = 3 + 2 * 2
y = (3 + 2) * 2
z = x + y
print(z)